.section-1 {
    background-image: url('/wallpaper-2.webp');
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
}
.second-element {
    position: relative;
    width: 100%;
    height: auto;
}
.second-element img {
    max-width: 100%;
    width: 600px;
    height: auto;
    animation-name: sliding;
    animation-duration: 4s;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite; 
    transition: all .42s;
}
.text-2 h1 {
    line-height: normal;
    font-size: 3rem;
    color: var(--text-color);
    transition: all .42s;
    margin: 15px 0;

}
.text-2 p {
    transition: all .42s;
    line-height: 30px;
    opacity: 0.6;
    margin-bottom: 3.95rem;

}
.text-2 a {
    color: white;
    padding: 1rem 50px;
    border-radius: 5px;
    background-color: var(--btn-color);
    transition: all .42s;
}
@media (max-width:1295px) {
    .text-2 h1 {
        font-size: 30px;
        transition: 0.3s;
    }
    .text-2 p {
        font-size: 11px;
        transition: 0.3s;
    }
    .second-element img {
        max-width: 100%;
        margin-top: 4rem;
        width: 300px;
        height: auto;
        transition: .3s;
        
    }
}
@media (max-width:1055px) {
    .section-1 {
        grid-template-columns: 1fr;
        height: 100%;
    }
    .second-element {
        text-align: center;
    }
    .text-2 {
        text-align: center;
    }
}